@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(images/Background.jpg);
    height: 84vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw); 
}
.main .box{
    height: 84vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0 ;
}
nav{
    max-width: 80vw;
    display: flex;
   margin: auto;
   align-items: center;
   justify-content: space-between;
   height: 62px;
}
nav img{
    color: red;
    width: 164px;
    position: relative;
    z-index: 10;
}
nav button{
    position:relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans',sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding:0 30px;
}
.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero :nth-child(2){
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}
.hero :nth-child(3){
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 12px;
}
.separation{
    height: 7px;
    background-color: rgb(46, 44, 44);
}
.btn{
    padding:8px 22px;
    font-weight: 400;
    color: white;
    background-color: rgba(248,243,243,0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    
}
.btn-red-sn{
    background-color: red;
    color: white;
    border: 1px solid white;
}
.btn-red{
    font-family: sans-serif;
    background-color: red;
    color: white;
    padding: 9px 26px;
    font-size: 20px;
    border-radius: 7px;
    border: transparent ;
}
.main input{
    
    padding: 24px 223px 8px 146px;
    color: white;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23,0.7);
    border: 1px solid rgba(246,238,238,0.5);
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
input::placeholder{
    position: relative;
    top: -6px;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secimg{
    position: relative;
}
.secimg img{
    max-width: 30vw;
    position: relative;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: 51px;
    right: 0;
}
section.first > div{
    display: flex;
    flex-direction: column;
}
section.first > div :nth-child(1){
    font-family: sans-serif;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 22px;
}
section.first > div :nth-child(2){
    font-size: 24px;
    font-family: sans-serif;
}
section.text > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 106px;
    padding-bottom: 100px;
    margin-left: 20px;
    padding-left: 400px;
}
section.text > div :nth-child(1){
    font-family: sans-serif;
    font-size: 48px;
    font-weight: bolder;
    padding: 0px 0px;
    color: white;
}
section.text > div :nth-child(2){
    font-family: sans-serif;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 4px 1px;
    color: white;
}
section.text > div :nth-child(3){
    font-size: 24px;
    font-family: sans-serif;
    color: white;
    padding: 4px 0px;
}
section.text > div :nth-child(4){
    font-size: 24px;
    font-family: sans-serif;
    color: white;
}
section.text > div :nth-child(5){
    font-size: 24px;
    font-family: sans-serif;
    color: white;
}
.faq h2{
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: xx-large;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    gap: 4px;
}
.faqbox:hover{

    background-color: rgb(87, 81, 81);
}
.faqbox{
    font-family: sans-serif;
    font-size: 24px;
    display: flex;
    background-color: rgb(39, 38, 38);
    padding: 26px;
    max-width: 66vw;
    margin:34px auto;
    justify-content: space-between;
    cursor: pointer;
}
.faqbox svg{
    filter: invert(1);
}
section h2.email{
    color: white;
}
.hehe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section .hehe :nth-child(1){
    font-family: sans-serif;
    font-size: large;
    padding: 15px 72px;
} 
section.hehe div.last button{
    font-family: sans-serif;
    background-color: red;
    color: white;
    padding: 16px 33px;
    font-size: 20px;
    border-radius: 7px;
    border: transparent;
    margin-top: 10px;
}
section.hehe div.last input{
    padding: 24px 223px 8px 146px;
    color: white;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 4px;   
    margin-right: 10px;
    padding-bottom: 17px;
}
footer h2{
    font-family: sans-serif;
    font-size: medium;
    color: white;
    padding: 10px 69px;
}






